@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");

:root {
  font-family: "Coiny", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header h1 {
  text-align: center;
  background-image: repeating-linear-gradient(
    0deg,
    #ff0000 0px,
    #ff0000 5px,
    #ffffff 5px,
    #ffffff 10px
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 4rem;
}

.header p {
  text-align: center;
  font-size: 2rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

.waldo-image {
  width: 1200px;
  aspect-ratio: auto;
}

.waldo-image-hide {
  width: 1200px;
  aspect-ratio: auto;
  filter: sepia(2) hue-rotate(-60deg) saturate(2) brightness(0.25);
}

.start-button-container {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.start-button-container .start-button {
  border-radius: 8px;
  font-family: "Coiny";
  box-shadow: 2px 2px 5px red, -2px -2px 5px white;
}

.timer {
  text-align: center;
  margin-bottom: 10px;
}
