@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");

:root {
  font-family: "Coiny", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header h1 {
  text-align: center;
  background-image: repeating-linear-gradient(
    0deg,
    #ff0000 0px,
    #ff0000 5px,
    #ffffff 5px,
    #ffffff 10px
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 4rem;
}

.header p {
  text-align: center;
  font-size: 2rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

.waldo-image {
  width: 1200px;
  aspect-ratio: auto;
}

.waldo-image-hide {
  width: 1200px;
  aspect-ratio: auto;
  filter: sepia(5) hue-rotate(-60deg) saturate(12) brightness(0.12);
}

.start-button-container {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.start-button-container .start-button {
  border-radius: 8px;
  font-family: "Coiny";
  box-shadow: 2px 2px 5px red, -2px -2px 5px white;
}

.timer {
  text-align: center;
  margin-bottom: 10px;
}

.username-form-container {
  position: fixed;
  top: 50%;
  left: 30%;
  width: 600px;
  height: 100px;
  border: white solid 2px;
  border-radius: 10px;
  padding: 16px;
  margin: auto;
  z-index: 1000;
  background-color: black;
  align-content: center;
}

.high-scores-container {
  background-color: lightgrey;
  color: darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scores-table {
  display: flex;
}

.wrong-guess-banner {
  padding: 16px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* clicks still go to the image */
  background: red;
  z-index: 10;
  font-weight: 700;
  font-size: 2rem;

  animation: slideUpDown 0.8s linear forwards;
}

@keyframes slideUpDown {
  0% {
    transform: translateY(100%); /* start hidden */
  }
  20% {
    transform: translateY(0); /* slide into view */
  }
  80% {
    transform: translateY(0); /* stay visible */
  }
  100% {
    transform: translateY(100%); /* slide back down */
  }
}
